<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  
  <add key="ConnectionString" value="server=.;uid=root;pwd=;Database=shopmall;SslMode=None" />
   <!-- 开启签名认证 -->
  <add key="DebugModel" value="true" /> 
  <!-- 开启token认证 -->
  <add key="OpenToken" value="true" />
  <!-- 签名密钥 -->
  <add key="PrivateKey" value="a3a665be98dc60e212365ee77979cdsh" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="WebCache" />

  <!--图片站地址-->
  <add key="ImageWebUrl" value="http://api.chuanchebao.com" />
  
  <!--图片上传绝对路径根目录地址,站点指向目录-->
  <add key="ImageMapPath" value="E:/站点/ycsd_cccarv2.0" />
  <!--图片上传路径根地址-->
  <add key="ImageSaveAsUrl" value="/Upload/" />
  <!--图片临时上传路径地址-->
  <add key="ImageSaveAsTemp" value="/UploadTemp/" />

  <!--第三方接口配置信息-->
  <!--短信接口用户-->
  <add key="unId" value="bjyxkj-1" />
  <!--短信接口密码-->
  <add key="unpass" value="756fbf" />
  <!--极光接口用户-->
  <add key="ApiKey" value="90bc6a128767dd41638a4939" />
  <!--极光接口密码-->
  <add key="APIMasterSecret" value="1be964288fd8f97dfc79d76c" />


  <!--网站服务器Token-->
  <add key="AppToken" value="16qxcn" />
  <!--网站域名-->
  <add key="C_server" value="16qixing.cn" />
  <add key="AppID" value="wxadd16b7242962c28" />
  <!--微信AppSecret-->
  <add key="AppSecret" value="9dadefe54b23e3e64ee50903f87fcf41" />

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />


</appSettings>