<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  
  <add key="ConnectionString" value="server=119.10.48.155;uid=root;pwd=caiya;Database=shopmall;SslMode=None" />
  <add key="regionpath" value="/Scripts/region.json" />
  <add key="regionbakpath" value="/Scripts/regionbak.json" />
  <!-- 开启签名认证 -->
  <add key="DebugModel" value="true" /> 
  <!-- 开启token认证 -->
  <add key="OpenToken" value="true" />
  <!-- 签名密钥 -->
  <add key="PrivateKey" value="a3a665be98dc60e212365ee77979cdsh" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="WebCache" />

  <!--图片站地址-->
  <add key="ImageWebUrl" value="http://api.chuanchebao.com" />
  
  <!--图片上传绝对路径根目录地址,站点指向目录-->
  <add key="ImageMapPath" value="E:/站点/ycsd_cccarv2.0" />
  <!--图片上传路径根地址-->
  <add key="ImageSaveAsUrl" value="/Upload/" />
  <!--图片临时上传路径地址-->
  <add key="ImageSaveAsTemp" value="/UploadTemp/" />

 

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />


</appSettings>